{% extends 'base.html' %}

{% block title %}Информация о статье{% endblock %}
{% block content %}
    <h3>Название статьи: {{ article.title }}</h3>
    <h4>Автор: {{ article.author }}</h4>
    <h4>Статья:</h4>
        <p>{{ article.text }}</p>
    <h4>Комментарии к статье</h4>
    {% for comment in article.commented_article.all %}
        <div class="comment">
            <p>{{ comment.text }}</p>
            <p class="author">{{ comment.author }}</p>
        </div>
    {% endfor %}
    <h3>Оценки к статье</h3>
    {% for rating in article.article_grade.all %}
        <div class="rating">
            <p>{{ rating.rating }}</p>
            <p>{{ rating.author }}</p>
        </div>
    {% endfor %}
        {{ article.favored_by.all }}
{% endblock %}