{% extends 'base.html' %}

{% block title %}Статьи ползователя{% endblock %}
{% block content %}
    <h3>Список статей</h3>
    {% for article in user.article_author.all %}
        <p>{{ article.title }}</p>
    {% endfor %}
    {% for article in user.favored_by.all %}
        <p>{{ article.title }}</p>
    {% endfor %}
    {% for article in article.favored_by.all %}
        <p>{{ article.title }}</p>
    {% endfor %}
    <p><a href="{% url 'favorites_detail' user.pk %}">Избранное</a></p>
{% endblock %}